*, 
html, 
body {
    /* border: 1px solid red; */

    /** <><><> CUSTOM COLORS <><><> */
    /* A */
    --avocado: #568203;
    /* B */
    --beef-red: rgb(168, 0, 0);
    --beef-red-2: rgb(112, 0, 0);
    --bread: #eee1cf;
    --bread-2: #a38047;
    --bud-green: rgb(112, 174, 110);
    /* C */
    --charcoal: rgb(49, 49, 49);
    --charcoal-2: #36454F;
    /* D */
    --dark-liver: rgb(72, 60, 70);
    /* G */
    --grape: rgb(187, 125, 231);
    --grape2: rgb(223, 191, 245);
    /* H */
    --hilighter: rgb(255, 255, 0);
    /* I */
    --inchworm: rgb(190, 238, 98);
    --index-card-bg: #f5e5cd;
    --index-card-bg-2: #a59276;
    /* L */
    --lettuce: #CDE6A5;
    /* M */
    --ming: rgb(60, 110, 113);
    /* O */
    --ocean: #006994;
    --ocean-2: #004d6b;
    --orange-crayola: rgb(244, 116, 59);
    --orange-burnt: rgb(179, 82, 44);
    --orange-burnt-2: #833C20;
    /* P */
    --pink-frosting: #db7179;
    --pink-frosting-2: #9c4d55;
    /* S */
    --salmon: rgb(253, 146, 134);
    --soup: #F0CA28;
    --soup-2: #a78d1b;
    --shadow-color: rgba(42, 42, 42, 0.6);
    --shadow-b-color: rgba(21, 21, 21, 0.8);
    /** <><><> END CUSTOM COLORS <><><> */


    /** SHADOWS */
    --shadow-1: drop-shadow(12px 12px 5px rgba(0, 0, 0, 0.5));
    --shadow-2: drop-shadow(12px 12px 5px rgba(95, 95, 95, 0.5));
    /** END SHADOWS  */

    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
}

body {
    background-color: var(--bud-green);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.display {
    /* background-color: white; */
    background-color: whitesmoke;
    /* border: 3px solid black; */
    border: 5px solid var(--charcoal);
    padding: 25px;
    border-radius: 15px;
    width: fit-content;
    max-width: 60%;
    height: fit-content;
    filter: var(--shadow-1);
}

#readout {
    font-family: "Roboto Serif", Arial, Helvetica, serif;
    font-size: 42px;
    font-weight: 400;
}

/* 750px wide */
@media screen and (max-width: 750px)  {

    #readout {
        font-size: 24px;
        font-weight: 300;
    }

    .display {
        max-width: 90%;
    }
}
/* END 750px WIDE */